{% extends "main.html" %} {% block title %} Login {% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign in</h3>
  
  <div class = "form-group">
    <label for = "email">Email</label>
    <input 
      type="email" 
     class="form-control" 
      id="email" 
      name="email" 
      placeholder="enter email"
    />
          <div class = "form-group">
            <label for = "password1">Password</label>
            <input 
              type="password" 
              class="form-control" 
              id="password" 
              name="password" 
              placeholder="enter password"
            />
            
  <br />
<button type = "submit" class = "btn btn-primary">Sign in</button>

  </div>
  </form>
{% endblock %}
